html {
    background-color: black;
    min-height: 100vh;
}

.App {
    min-height: 90vh;
}

.Canvas {
    background-color: black;
    min-height: 100vh;
}

.top-left {
    position: absolute;
    top: 0.5em;
    left: 1em;
    z-index: 100;
}

.bottom-left {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    z-index: 100;
}

