html {
    background-color: black;
    min-height: 100vh;
}

a {
    color: darkorange;
}

.App {
    min-height: 90vh;
}

.Canvas {
    background-color: #242434;
    min-height: 100vh;
}

.top-left {
    position: absolute;
    top: 0.5em;
    left: 1em;
    z-index: 100;
    padding: 1em;
}

.top-right {
    position: absolute;
    top: 0.5em;
    right: 1em;
    z-index: 100;
    padding: 2em;
}

.bottom-left {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    z-index: 100;
}

